# Database
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://localhost:5432/innovation-scoreboard
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.continue-on-error=true
spring.jpa.properties.hibernate.temp.use_jdbc_metadata_defaults=false

# Database migrations
flyway.user=innovation-scoreboard
flyway.password=password

# Elasticsearch
elasticsearch.host=localhost
elasticsearch.port=9200
elasticsearch.user=user
elasticsearch.password=password

# File upload (default is 1MB)
spring.servlet.multipart.max-file-size=30MB
spring.servlet.multipart.max-request-size=30MB

# AWS
aws.credentials.accessKey=access_key
aws.credentials.secretKey=secret_key
aws.bucket.fileImport=noi-innovation-scoreboard-dev
